<div class="banner">
  <!-- <img src="assets/background.jpg" alt="" /> -->
  <div class="navbar">
    <img />
    <ul>
      <li><a href="#">home</a></li>
      <li><a href="#">bedroom</a></li>
      <li><a href="#">dining</a></li>
      <li><a href="#">kitchen</a></li>
      <li><a href="#">backyard</a></li>
    </ul>
  </div>
  <div class="content">
    <h1>DESIGN YOUR HOUSE</h1>
    <p>First website</p>
    <div>
      <button type="button"><span></span> WATCH MORE</button>
      <button type="button"><span></span> SUBSCRIBE</button>
    </div>
  </div>
</div>
